/* タグ表示用のCSSです */

/*
TEST TEST
*/



/* ----------------------------------------------
	div.simple-amazon-view
---------------------------------------------- */
div.simple-amazon-view {
	margin: 10px 0;
	padding: 5px 10px;
	background-color: #fff;
	border: 5px solid #ccc;
	font-size: 12px;
	clear: both;
}

/* cleafix */
div.simple-amazon-view:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*html div.simple-amazon-view { zoom: 1; }
*:first-child+html div.simple-amazon-view { zoom: 1; }

div.simple-amazon-view img.sa-image {
	float: left;
	margin: 5px 10px 5px 0px;
	padding: 5px;
	background-color: #999;
	border: none;
}

.simple-amazon-view p.sa-title {
	padding: 5px 0 10px;
	font-size: 14px;
	font-weight: bold;
}

div.simple-amazon-view ul.sa-detail {
	margin:0;
	list-style-type: none
}

div.simple-amazon-view p {
	margin: 0;
}



/* =レーティング
----------------------------------------------- */
.rating-star {
	height: 20px;
	width: 100px;
	background: url(images/rating.png) no-repeat;
}

.rate0\.5 {
	background-position: 0px 0px;
}

.rate1 {
	background-position: 0px -20px;
}

.rate1\.5 {
	background-position: 0px -40px;
}

.rate2 {
	background-position: 0px -60px;
}

.rate2\.5 {
	background-position: 0px -80px;
}

.rate3 {
	background-position: 0px -100px;
}

.rate3\.5 {
	background-position: 0px -120px;
}

.rate4 {
	background-position: 0px -140px;
}

.rate4\.5 {
	background-position: 0px -160px;
}

.rate5 {
	background-position: 0px -180px;
}
