/* ----------------------------------------------
	simple amazon admin
---------------------------------------------- */

/* cleafix */
#simple-amazon-options-menu:after,
#sa-meta-box:after,
#rating-star-admin:after {
    content: "";
    display: table;
    clear: both;
}

.sa-admin-rating {
	display: none;

}

.sa-admin-rating li {
	margin: 0 3px;
	display: inline;
	list-style: none;
}

#side-sortables input.sa-asin-code{
	width: 75%;
}

#normal-sortables input.sa-asin-code {
	width: 50%;
}

.sa-asin-item {
	color: #7F7F7F;
}

#rating-star-admin {
	width: 200px;
}

.sa-rating-star {
	margin: 0 15px 0 0;
	float: left;
}

.selected-rate {
	font-weight: bold;
}